=image_tag 'modal_close.png', :id=> 'close_modal'

.modal_title
  %h1 About
.about_content
  %p This is the about page

:javascript
  $('#close_modal, .modal_overlay').click(function() {
    $('.modal_box').empty();
    $('.modal_wrap').fadeOut('fast');
  });
