=image_tag 'modal_close.png', :id=> 'close_modal'

/ .modal_title
.about_content
  %h3 Noesis: n. the act or result of understanding the inner nature of things or of seeing intuitively.

  %p <em> Spark Noesis </em> ~ Sometimes, our surroundings trigger significant realizations. They can be fleeting, like an awareness of ice-cold water traveling down your throat after a long run. Or they can be profound, like insights into what causes gradual desensitization to violence.

  %p Noesis lets you express these realizations the moment you experience them.

  %p <em> Challenge Your Mind </em> ~ With words, you form a poignant, valuable thought in just a few sentences. Visually, you enhance this insight with an equally evocative image. We then map your insight on our globe.

  %p <em> Put Yourself In Another’s Place </em> ~ Each of your contributions provide other Noesis users a stimulating thought to consider and a glimpse into the place you were at the time of your realization.

  %p <em> When you traverse our map, you experience other’s images and insights. And when they do so, they experience yours. </em>


:javascript
  $('#close_modal, .modal_overlay').click(function() {
    $('.modal_box').empty();
    $('.modal_wrap').fadeOut('fast');
  });
