<div id="container">

  <div id='legend-content'>
    <div class='my-legend'>
      <div class='legend-title'>
        Our Filters for the Map
      </div> <!-- #legend-title -->
    </div> <!-- .my-legend -->
  </div> <!-- #legend-content -->

  <div id="map_container">
  </div> <!-- #map_container -->

</div> <!-- #container -->
