%h1 
  This is the static_pages

Bearing: 
%span#bearing
%br
%span#latitude
%br
%span#longitude
#br
%span#orientation
%br
Percent: 
%span#percent

%br
%span#in_cond

%br
#canvas
  .box{"data-bearing"=>"191"}
  .box{"data-bearing"=>"10", style:"background: green"}
  .box{"data-bearing"=>"350", style:"background: blue"}

:css
  #canvas {
    border: 1px solid black;
    height: 250px;
    margin: 10px;
    background: gray;
    position: relative;
  }

  .box{
    width: 200px;
    height: 100%;
    background-color: red;
    background-image: url('http://frankywahl.com/Images/Franky.png');
    background-size: cover;
    top: 0%;
    left: 30%;
    position: absolute;
  }

:coffee
  jQuery -> 

    # This appends orientation
    inform_orientation = ->
      $("#orientation").text window.orientation
    
    # Get HTML5 Geolocation information
    get_position = (event) ->
      
      # Try HTML5 geolocation
      if navigator.geolocation
        console.log navigator.geolocation
        navigator.geolocation.getCurrentPosition show_pos, show_error
      else
        alert "Sorry, your browser does not suport GeoLocation"
    
    # This will get latitude and longitude
    show_pos = (position) ->
      latitude = position.coords.latitude
      longitude = position.coords.longitude
      $("#latitude").text latitude
      $("#longitude").text longitude


    # Show error still empty for the time being
    show_error = ->
      alert "Sorry, no HTML5 Geolocation for you"

    # Get orientation and position form start
    inform_orientation()
    get_position()

    # This find landscape / portrait mode
    window.addEventListener "orientationchange", inform_orientation


    # This changes based on bearing and informs us 
    window.addEventListener "deviceorientation", ((e) ->

      # Make sure they have supprot for this
      unless e.webkitCompassHeading is 0

        # Find their bearing
        bearing = e.webkitCompassHeading

        # Append it to the text
        $("#bearing").text bearing


        # Get lens angle (based on portrait/landscape mode of an iPhone)
        lens_angle = (if ($("#orientation").text() is 0) then 42 else 62)


        # Get all boxes
        boxes = $(".box")

        # Loop through each one
        i = 0
        while i < boxes.length

          # Select the box
          current_box = $(boxes[i])

          # Get it's bearing relative to where we stand
          box_bearing = current_box.data("bearing")


          # Complicated math starts here -----------

          # Make sure it's in our field of vision
          if Math.abs(box_bearing - bearing) < (lens_angle / 2) or (360 - Math.abs(box_bearing - bearing)) < (lens_angle / 2)
      
            # Make the box visible again
            current_box.css "display", ""

            # Find it as a percentage
            position_from_left = 100 * (bearing - (box_bearing - (lens_angle / 2))) / lens_angle

            # Got for the edge cases (overwrite the value of position left
            unless Math.abs(box_bearing - bearing) < (lens_angle / 2)
              constant = lens_angle / 2 + box_bearing - bearing
              value = 0
              if box_bearing < 180
                value = constant - 360
              else
                value = constant + 360
              position_from_left = 100 * value / lens_angle
            current_box.css "left", 100 - position_from_left.toString() + "%"
            $("#percent").text 100 - position_from_left.toString()
          else

            # Hide it if not in our field of vision
            current_box.css "display", "none"

          # Complicated math ends here -----------

          ++i
    ), false
    
