$font_color: white;
$font: 'Elsie', cursive;
$font_weight: 100;

#add_image_main {
  width: 100%;
  height: 100%;
  #edit_image_arrow_div {
    width: 80px;
    height: 100%;
    float: left;
    display: inline-block;
    img {
      margin-top: 225px;
      margin-left: 20px;
      opacity: 0.8;
    }
    img:hover {
      opacity: 0.4;
    }
  }
  #edit_image_left {
    width: 45%;
    height: 100%;
    display: inline-block;
    margin-left: 30px;
    float: left;
    #showing_image {
      height: 350px;
      width: 400px;
      margin: 55px auto;
      overflow:hidden;
      border: 8px solid;
      border-radius: 7px;
      margin-bottom: 28px;
    }
    #what_you_saw {
      font-size: 35px;
      text-align: center;
      margin-bottom: 5px;
      padding-top: 15px;
    }
    #choose_photo{
      float: left;
      margin-left: 25%;
      margin-top: -4px;
      p {
        float: left;
        font-family: $font;
        font-weight: $font-weight;
        display: inline-block;
      }
    }
    #add {
      display: inline-block;
      margin: 12px 0 0 -60px;
    }
    #add_file_field {
      width: 100%;
      height: 40px;
      margin-top: -40px;
      #add_image_file_field {
        margin-left: 30%;
        display: inline-block;
      }
    }
  }
  #add_image_right {
    height: 100%;
    width: 45%;
    margin-left: -30px;
    display: inline-block;
    #add_image_forms_title {
      width: 100%;
      height: 22%;
      margin-top: 86px;
      padding-top: 35px;
      background-color: #ecf0f1;
      p {
        text-align: center;
        font-family: $font;
        font-size: 38px;
        font-weight: bold;
      }
    }
    #add_image_forms {
      width: 100%;
      height: 270px;
      display: inline-block;
      background-color: #ecf0f1;
      textarea {
        width: 80%;
        height: 30%;
        margin: 0 10px 10px 45px;
      }
      #add_image_radios {
        margin: 10px 0 0 15px;
        text-align: center;
      }
      #add_button {
        margin: 20px 0 0 30%;
        #photo_submit {
          width: 55%;
          padding: 30px;
          border-radius: 5px;
          color: white;
          background-color: #5C3317;
        }
      }
    }

    // #add_image_button:hover {
    //   -moz-box-shadow: inset 0 2px 11px -3px #000;
    //   -webkit-box-shadow: inset 0 2px 11px -3px #000;
    //   box-shadow: inset 0 2px 11px -3px #000;
    // }
    // #add_image_field {
    //   margin: 25px;
    //   #add_image_form,
    //   #add_image_button {
    //     text-align: center;
    //     margin: 10px auto;
    //     display: block;
    //   }
    //   #add_image_form {
    //     margin-left: 100px;
    //   }
    // }
  }
}

#background {
  background-color: #F0F0F0;
  height: 650px;
}

body {
  font-family: 'Elsie', cursive;
}
