// Place all the styles related to the images controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#editing_image>img{
  width: 40%;
  margin-left: 15%;
  border: 6px solid #4A4A4A;
  margin-top: 5%;
}

.photo_editing_text {
  float: right;
  width: 300px;
  margin-top: -40px;
  margin-right: 10%;
}

#background {
  background-color: #F0F0F0;
  height: 650px;
}

body {
  font-family: 'Elsie', cursive;
}