$navbar_color: #5C3317;
$font: 'Elsie', cursive;
$font_weight: 100;

#map_container {
  position:absolute;
  width: 78%;
  height: 85%;
  left: 29.4%;
  top: 13.5%;
  margin-left: -28%;
  border-radius: 10px;
  border: 5px solid $navbar_color;
  -webkit-filter: hue-rotate(340deg);
  -webkit-filter: contrast(1.4);
}

#map_filter_container {
  position: absolute;
  top: 27%;
  left: 86%;
  width: 10%;
  height: 55%;
  z-index: 50;
  // border: 3px solid $navbar_color;
  .filter_containers {
    height: 28%;
    width: 90%;
    margin-left: 10px;
    margin-right: 10px;
  }
  // .filter_containers:first-child,
  // .filter_containers:nth-child(2) {
  //   -moz-box-shadow: 0 1px 1px -1px #000;
  //   -webkit-box-shadow: 0 1px 1px -1px #000;
  //   box-shadow: 0 1px 1px -1px #000;
  // }
  .filter_buttons {
    width: 90%;
    height: 90%;
    background-color: #ecf0f1;
    border: 3px solid $navbar_color;
    margin-top: 10px;
    border-radius: 5px;
    top: 30px;
    text-align: center;
  }

  .clicked,
  .filter_buttons:hover {
    background-color: #D98719;
    border: 3px solid #5C3317;
  }
  .filter_texts {
    display: inline-block;
    p {
      font-family: $font;
      font-size: 18px;
      position: absolute;
      left: 50%;
    }
  }

  #filter_friends p {
    margin-left: -23%;
  }

  #filter_you p {
    margin-left: -13%;
  }

  #filter_everyone p {
    margin-left: -27%;

  }

  .active {
    background-color: #D98719;
    border: 5px solid #5C3317;
  }
}
