#map_container {
  margin-top: 1px;
  position:absolute;
  top:70px;
  bottom:0;
  width:100%;
}

#legend-content {
  display: none;
}

.my-legend .legend-title {
 text-align: left;
 margin-bottom: 8px;
 font-weight: bold;
 font-size: 90%;
 height: 60px;
 width: 150px;
}

.my-legend .legend-source {
 font-size: 70%;
 color: #999;
 clear: both;
}
