$navbar_color: gray;
$navbar_height: 70px;
$navbar_font_color: white;
$navbar_font_style: Helvetica Neue;
$navbar_font_size: 30px;

#navbar {
  height: $navbar_height;
  line-height: $navbar_height;
  background-color: $navbar_color;
  -moz-box-shadow: 0 3px 7px 0 #000;
  -webkit-box-shadow: 0 3px 7px 0 #000;
  box-shadow: 0 3px 7px 0 #000;
  p {
    color: $navbar_font_color;
    margin: auto;
    padding: 0 30px 0 30px;
    font-style: $navbar_font_style;
    font-size: $navbar_font_size;
  }

  #nav_title,
  #nav_about,
  #nav_signup,
  #nav_login,
  #nav_logout,
  #nav_twitter,
  #nav_about {
    height: $navbar_height;
    display: inline-block;
  }

  #nav_twitter p a,
  #nav_login p a,
  #nav_logout p a,
  #nav_signup p a,
  #nav_about p a,
  #nav_title p a {
    color: white;
    text-decoration: none;
  }

  #nav_title:hover,
  #nav_about:hover,
  #nav_signup:hover,
  #nav_login:hover,
  #nav_logout:hover,
  #nav_twitter:hover,
  #nav_about:hover {
    -moz-box-shadow: inset 0 2px 11px -3px #000;
    -webkit-box-shadow: inset 0 2px 11px -3px #000;
    box-shadow: inset 0 2px 11px -3px #000;
    border-radius: 2px;
  }

  #nav_title,
  #nav_about {
    float: left;
  }
  #nav_signup,
  #nav_login,
  #nav_logout {
    float: right;
  }
}