// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html,body {
  height:100%;
  background-image:url('ship_red_clipped_rev_1.jpg');
  background-size: cover;
  z-index: 300;
}


