$font_color: white;
$font: "HelveticaNeue-Light", Helvetica, Arial, sans-serif;
$font_size: 60px;
$font_weight: 100;

#main_user_profile_div{
  margin: 30px auto;
  width: 90%;
  border: 1px solid;
  border-radius: 5px;
  height: 500px;

  #user_cover_pic {
    height: 200px;
    width: 100%;
    border-bottom: 1px solid;
  }
  #left_column {
    width: 30%;
    height: 100%;
    float: left;
    margin-top: -200px;
    margin-left: 20px;
    #user_profile_pic{
      width: 300px;
      height: 300px;
      margin: 80px auto 0;
      border: 1px solid;
      border-radius: 150px;
      border: 3px solid gray;
      overflow: hidden;
      background-color: white;
      img{
        // height: 90%;
      }
    }
    #username_show {
      width: 100%;
      margin-top: 20px;
      p {
        // color: $font_color;
        font-family: $font;
        font-size: $font_size;
        font-weight: bold;
        margin: 0;
        text-align: center;
      }
    }
  } // left_column

  #right_column {
    float: right;
    height: 65%;
    width: 65%;
    margin-top: -60px;
    margin-right: 20px;
    #edit_buttons {
      height: 50px;
      width: 100%;
      div {
        border: 3px solid #2c3e50;
        height: 70%;
        float: right;
        margin-top: 10px;
        border-radius: 5px;
        background-color: #95a5a6;
        p {
          font-size: 15px;
          font-family: $font;
          margin: 10px;
          color: #ecf0f1;
        }
      }
      #edit_profile_pic {
        margin-right: 20px;
      }
      div:hover {
        border: 3px solid #95a5a6;
        background-color: #bdc3c7;
      }
    }
    #following {
      float: left;
      margin-top: 20px;
      height: 80%;
      width: 35%;
      overflow: scroll;
      background-color: #ecf0f1;
      #user_following {
        height: 20%;
        width: 85%;
        margin: 10px auto;
        border-bottom: 1px solid;
      }
      .following_title {
        text-align: center;
        font-family: $font;
        font-size: 18px;
        font-weight: $font-weight;
        width: 90%;
        margin: 20px auto;
      }
      .title_line {
        width: 80%;
        margin-bottom: 20px;
      }
    }
    #who_to_follow {
      #suggested_follow_names {
        height: 45px;
        width: 90%;
        margin: 8px auto;
        margin-left: 10px;
      }
    }
    .followers_container {
      height: 45px;
      width: 90%;
      margin: 8px auto;
    }
    .profile_pic_follow {
      width: 45px;
      height: 45px;
      border: 2px solid;
      float: left;
      display: inline-block;
      img {
        width: 100%;
        height: 100%;
        margin: auto;
      }
    }
    .follow_link {
      display: inline-block;
      margin-left: 8px;
      width: 60%;
      line-height: 50px;
      p {
        text-align: center;
        font-family: $font;
        font-size: 18px;
        margin: 0;
      }
    }
    #adds {
      width: 62%;
      height: 80%;
      margin-top: 20px;
      float: right;
      overflow: hidden;
      background-color: #ecf0f1;
      #top_of_adds {
        height: 50%;
        width: 100%;
        #add_image_form,
        #add_image_title,
        #add_image_field {
          margin: auto;
        }
        #add_image_title p{
          font-family: $font;
          font-size: 30px;
          text-align: center;
          margin: 0;
          margin-top: 5px;
        }
        #add_image_title p:last-child {
          font-size: 18px;
        }
        #add_image_form,
        #add_image_field {
          margin-top: 20px;
          display: inline-block;

        }
        #add_image_form{
          width: 50%;
          float: left;
          margin-left: 50px;
        }
      }
      #user_images_container {
        height: 50%;
        width: 100%;
        #user_images {
          width: 90%;
          height: 75%;
          border: 1px solid;
          margin: 10px auto;
          background-color: white;
        }
      }
    } // #adds
  } // right_column
}

