<div id= "background">

  <div id= "editing_image">
    <%= image_tag @image.url %>
  </div>


  <p class= "photo_editing_text"> Option to select where on the map it was taken IF Franky's doesnt work </p>

</div>